$text: rgb(255, 255, 255);

$backgroundInput: rgb(216, 223, 240);
$backgroundInputFocus: rgb(233, 233, 233);
$backgroundInputSearch:rgb(108, 117, 137);

$backgroundBody:rgb(110, 119, 122);
$backgroundMainPlate: rgb(77, 75, 78);
$borderInput:rgb(189, 189, 189);

$inputSearch:rgb(210, 213, 219);
$inputFocus:rgb(33, 37, 41);
$inputFocusShadow:rgba(155, 149, 149, 0.25);
$inputPlaceholder:rgba(33, 37, 41, 0.5);

$btnNormalAdd: rgb(94, 158, 94);
$btnHoverAdd: rgb(77, 168, 77);
$btnFocusAdd: rgb(78, 117, 78);
$btnActiveAdd: rgb(54, 153, 54);

$btnNormalDelete: rgb(236, 79, 79);
$btnHoverDelete: rgb(235, 21, 21);
$btnFocusDelete:rgb(173, 41, 41);
$btnActiveDelete: rgb(255, 67, 67);

$btnNormalShowHide: rgb(226, 177, 85);
$btnHoverShowHide: rgb(211, 167, 84);
$bntFocusShowHide:rgb(199, 162, 92);
$btnActiveShowHide: rgb(194, 163, 107);

$btnCloseItem:rgb(236, 121, 121);
$btnOkCancel:rgb(100, 106, 122);
$btnOkCancelHover:rgb(118, 131, 165);
$btnOkCancelActive:rgb(76, 100, 160);

$btnText: rgb(245, 245, 245);

$itemRegular:rgb(87, 92, 105);
$itemComplete:rgb(99, 177, 103);
$itemDate: rgb(117, 129, 153);

$coverOverlay: rgba(49, 46, 46, 0.7);
$modalWindow:rgb(82, 89, 122);

$checkboxBorder:rgb(173, 181, 189);
$checkboxChecked:rgb(11, 118, 239);
$checkboxActiveHover:rgb(179, 215, 255);
$checkboxFocus:rgba(0, 123, 255, 0.25);