@mixin Btn {
   font-size: 18px;
   line-height: 22px;
   color: $btnText;
   display: block;
   text-transform: capitalize;
   border-radius: 10px;
   text-align: center;
   padding: 12px;
   border: none;
   cursor: pointer;
   transition: all 0.3s linear;
   @media (max-width: 767px) {
     padding: 9px;
   }
 }

 @mixin Input {
   margin: 0 15px;
   padding: 0 20px;
   font-size: 14px;
   line-height: 19px;
   background-color: $backgroundInput;
   border: none;
   border-radius: 10px;
   transition: all 0.3s linear 0s;
   &:focus {
     color: $inputFocus;
     background-color: $backgroundInputFocus;
     border-color: $borderInput;
     outline: 0;
     box-shadow: 0 0 0 0.2rem $inputFocusShadow;
   }
   &::placeholder {
     color: $inputPlaceholder;
   }
 }