body {
  background-color: lightblue;
}

.container {
  background-color: blueviolet;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  border-radius: 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  font-size: 18px;
  line-height: 22px;
  color: whitesmoke;
  display: block;
  text-transform: capitalize;
  border-radius: 10px;
  text-align: center;
  padding: 12px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.delete-all,
.delete-last {
  background-color: red;
}

.delete-all:hover,
.delete-last:hover {
  background-color: #e71414;
}

.delete-all:active,
.delete-last:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}

.add {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  background-color: green;
}

.add:hover {
  background-color: #35af35;
}

.add:active {
  background-color: #369936;
  -webkit-box-shadow: 4px 4px 30px 0px #369936;
          box-shadow: 4px 4px 30px 0px #369936;
}

.main-items {
  padding-top: 25px;
  margin: 50px 0;
}

.input__enter-todo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 20px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.input__enter-todo:focus {
  outline: 0;
}

.input__search-todo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin: 0 20px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.input__search-todo:focus {
  outline: 0;
}

.delete-all,
.delete-last,
.add,
.show-all,
.show-completed,
.wrapper__all-count,
.wrapper__completed {
  margin: 0 15px;
}

.show-all,
.show-completed {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.show-completed,
.show-all {
  background-color: orange;
}

.show-completed:hover,
.show-all:hover {
  background-color: rgba(238, 184, 84, 0.904);
}

.show-completed:active,
.show-all:active {
  background-color: #c2a36b;
  -webkit-box-shadow: 4px 4px 30px 0px #c2a36b;
          box-shadow: 4px 4px 30px 0px #c2a36b;
}

.addition-items {
  padding-bottom: 25px;
}

.wrapper__all-count,
.wrapper__completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.text-count-name,
.text-all-count,
.text-completed-name,
.text-all-completed {
  color: white;
  font-size: 20px;
  margin: 0;
}

.todo-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin: 25px auto;
  border: 3px solid black;
  border-radius: 15px;
  padding: 30px;
}

.todo-input {
  margin: 0 20px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.todo-input:focus {
  outline: 0;
}

.list-todo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo-date {
  color: white;
  font-size: 14px;
  padding-top: 20px;
}

.todo-close {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.btn-close {
  position: absolute;
  right: 0px;
  top: -23px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #ec7979;
}

.btn-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */