@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}

$colorBackgroundBtnPositive: rgb(94, 158, 94);
$colorBackgroundBtnNegative: rgb(236, 79, 79);
$colorBackgroundBtnNeutral: rgb(226, 177, 85);
$colorTextBtn: whitesmoke;
$colorBtnHoverNegative: #e71414;
$colorBtnActiveNegative: #ff4343;
$colorBtnHoverPositive: rgb(77, 168, 77);
$colorBtnActivePositive: rgb(54, 153, 54);
$colorBtnHoverNeutral: rgba(238, 184, 84, 0.904);
$colorBtnActiveNeutral: rgb(194, 163, 107);
$colorText: white;

@mixin Btn {
  font-size: 18px;
  line-height: 22px;
  color: $colorTextBtn;
  display: block;
  text-transform: capitalize;
  border-radius: 10px;
  text-align: center;
  padding: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

@mixin Input {
  margin: 0 20px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  background-color:#d8dff0;
  border: none;
  border-radius: 10px;
  transition: all 0.3s linear 0s;
  &:focus {
    outline: 0;
  }
}

body {
  height: 3000px;
  background-color: rgb(110, 119, 122);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
   background-color: rgb(77, 75, 78);
   border-radius: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  @include Btn();
}

.delete-all,
.delete-last {
  background-color: $colorBackgroundBtnNegative;
}

.add {
  flex: 0 1 15%;
  background-color: $colorBackgroundBtnPositive;
  &:hover {
    background-color: $colorBtnHoverPositive;
  }
  &:active {
    background-color: $colorBtnActivePositive;
    box-shadow: 4px 4px 30px 0px $colorBtnActivePositive;
  }
}

.add[disabled],
.delete-last[disabled],
.delete-all[disabled],
.hide-completed[disabled],
.show-completed[disabled],
.input__search-todo[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}

.main-items {
  padding-top: 18px;
  margin:25px 0 18px 0;
}

.input__enter-todo {
  flex: 1 1 auto;
  @include Input();
}

.input__search-todo {
  flex: 0 1 30%;
  @include Input();
}

.delete-all,
.delete-last,
.add,
.show-all,
.show-completed,
.wrapper__all-count,
.wrapper__completed {
  margin: 0 15px;
}

.hide-completed,
.show-completed {
  flex: 0 1 15%;
}

.show-completed,
.hide-completed {
  background-color: $colorBackgroundBtnNeutral;
}

.addition-items {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.wrapper__all-count,
.wrapper__completed {
  display: flex;
  align-self: center;
}

.text-count-name,
.text-all-count,
.text-completed-name,
.text-all-completed {
  color: $colorText;
  font-size: 20px;
  margin: 0;
}

.todo-item {
   max-width: 500px;
   width:100%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 30px;
  background-color: #575c69;
  color:#ffffff;
}

.checked {
  background-color: rgb(99, 177, 103);
  &.task_desc{
   text-decoration: line-through;
  }
  
}

.list-todo {
  flex-direction: column;
}

.todo-date {
  font-size: 14px;
  padding-top: 20px;
  color:#758199
}

.todo-close {
  flex-direction: column;
  position: relative;
}

.btn-close {
  position: absolute;
  right: 0px;
  top: -23px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #ec7979;
}

.btn-close:before {
  transform: rotate(45deg);
}

.btn-close:after {
  transform: rotate(-45deg);
}

.task_desc {
word-break:break-word;
}

#confirm-wrap {
  display: inline-block;
  padding: 60px;
  width: 400px;
  border-radius: 30px;
  background: rgb(82, 89, 122);
  vertical-align: middle;
}

#confirm-message {
  font-size: 25px;
  color: white;
  margin-bottom: 40px;
}

#confirm-wrap-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

#confirm-wrap-container:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: rgb(49, 46, 46);
  opacity: 0.9;
}

.button__ok,
.button__cancel {
  border: none;
  max-width: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: #646a7a;
  &:hover {
    cursor: pointer;
    background-color: #7683a5;
  }
  &:active {
   box-shadow: 0px 0px 10px 0px #4c64a0 inset;
   background-color: #4c64a0;
 }
}

.button__ok {
  margin-right: 10px;
}

.button__cancel {
  margin-left: 10px;
}

.custom-checkbox {
   max-width: 300px;
   margin-right: 15px;
}

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

.custom-checkbox > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}
