@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap");
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}

body {
  background-color: #6e777a;
  height: 2500px;
}

.container {
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  background-color: #4d4b4e;
  border-radius: 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  font-size: 18px;
  line-height: 22px;
  color: whitesmoke;
  display: block;
  text-transform: capitalize;
  border-radius: 10px;
  text-align: center;
  padding: 12px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 767px) {
  .btn {
    padding: 9px;
  }
}

.delete-all,
.delete-last {
  max-width: 125px;
  width: 100%;
  background-color: #ec4f4f;
}

.delete-all:hover,
.delete-last:hover {
  background-color: #eb1515;
}

.delete-all:focus,
.delete-last:focus {
  background-color: #ad2929;
}

.delete-all:active,
.delete-last:active {
  background-color: #ff4343;
}

@media (max-width: 767px) {
  .delete-all,
  .delete-last {
    max-width: 85px;
    width: 100%;
  }
}

.add {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  background-color: #5e9e5e;
}

.add:hover {
  background-color: #4da84d;
}

.add:focus {
  background-color: #4e754e;
}

.add:active {
  background-color: #369936;
  -webkit-box-shadow: 4px 4px 30px 0px #369936;
          box-shadow: 4px 4px 30px 0px #369936;
}

.hide-completed,
.show-completed {
  max-width: 80px;
  width: 100%;
  background-color: #e2b155;
}

.hide-completed:hover,
.show-completed:hover {
  background-color: #d3a754;
}

.hide-completed:focus,
.show-completed:focus {
  background-color: #c7a25c;
}

.hide-completed:active,
.show-completed:active {
  background-color: #c2a36b;
}

.delete-all,
.delete-last,
.add,
.show-completed,
.all-count {
  margin: 0 15px;
}

@media (max-width: 792px) {
  .delete-all,
  .delete-last,
  .add,
  .show-completed,
  .all-count {
    font-size: 16px;
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .delete-all,
  .delete-last,
  .add,
  .show-completed,
  .all-count {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .btn.delete-last {
    display: none;
  }
  .show-completed {
    margin: 0;
  }
}

.hide-completed {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .hide-completed {
    margin: 0 10px;
    font-size: 14px;
  }
}

.add[disabled],
.delete-last[disabled],
.delete-all[disabled],
.hide-completed[disabled],
.show-completed[disabled],
.input-search-todo[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}

.input-search-todo[disabled]::-webkit-input-placeholder {
  color: whitesmoke;
}

.input-search-todo[disabled]:-ms-input-placeholder {
  color: whitesmoke;
}

.input-search-todo[disabled]::-ms-input-placeholder {
  color: whitesmoke;
}

.input-search-todo[disabled]::placeholder {
  color: whitesmoke;
}

.main-items {
  padding-top: 18px;
  margin: 60px 0 18px 0;
}

@media (max-width: 767px) {
  .main-items {
    margin: 20px 0 18px 0;
  }
}

.input-enter-todo,
.input-search-todo {
  width: 100%;
  margin: 0 15px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  background-color: #d8dff0;
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.input-enter-todo:focus,
.input-search-todo:focus {
  color: #212529;
  background-color: #e9e9e9;
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(155, 149, 149, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(155, 149, 149, 0.25);
}

.input-enter-todo::-webkit-input-placeholder,
.input-search-todo::-webkit-input-placeholder {
  color: rgba(33, 37, 41, 0.5);
}

.input-enter-todo:-ms-input-placeholder,
.input-search-todo:-ms-input-placeholder {
  color: rgba(33, 37, 41, 0.5);
}

.input-enter-todo::-ms-input-placeholder,
.input-search-todo::-ms-input-placeholder {
  color: rgba(33, 37, 41, 0.5);
}

.input-enter-todo::placeholder,
.input-search-todo::placeholder {
  color: rgba(33, 37, 41, 0.5);
}

@media (max-width: 767px) {
  .input-enter-todo,
  .input-search-todo {
    margin: 0;
  }
}

.input-search-todo {
  margin-right: 0;
  padding-left: 50px;
}

@media (max-width: 767px) {
  .input-search-todo {
    margin: 0 10px;
  }
}

.addition-items {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.all-count,
.completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 767px) {
  .all-count,
  .completed {
    display: none;
  }
}

.all-count {
  max-width: 50px;
  width: 100%;
}

.completed {
  max-width: 120px;
  width: 100%;
  margin-right: 30px;
}

.text-count-name,
.text-all-count,
.text-completed-name,
.text-all-completed {
  color: whitesmoke;
  font-size: 18px;
}

.text-all-count,
.text-all-completed {
  margin-left: 10px;
}

@-webkit-keyframes go-left {
  from {
    right: 0px;
  }
  to {
    right: calc(100% - 50px);
  }
}

@keyframes go-left {
  from {
    right: 0px;
  }
  to {
    right: calc(100% - 50px);
  }
}

.animation {
  -webkit-animation: go-left 1s 1;
          animation: go-left 1s 1;
}

.todo-item {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 30px;
  background-color: #575c69;
  color: white;
}

@media (max-width: 767px) {
  .todo-item {
    padding: 30px 30px 30px 15px;
  }
}

.item-complete {
  background-color: #63b167;
}

.text-complete {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.list-todo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo-date {
  font-size: 14px;
  padding-top: 20px;
  color: #758199;
}

@media (max-width: 767px) {
  .todo-date {
    display: none;
  }
}

.todo-close {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.btn-close {
  position: absolute;
  right: 0px;
  top: -23px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn-close:hover {
  border-radius: 50%;
  background-color: #4d4b4e;
}

.btn-search {
  right: 25px;
  top: 26px;
}

.btn-close.alert {
  top: -45px;
  left: 280px;
}

@media (max-width: 460px) {
  .btn-close.alert {
    top: -40px;
    left: 225px;
  }
}

.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 19px;
  top: 4px;
  content: " ";
  height: 30px;
  width: 2px;
  background-color: #ec7979;
}

.btn-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.gg-search {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 100%;
  top: 11px;
  right: 287px;
  color: #4d4b4e;
}

.gg-search::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 12px;
  background: #4d4b4e;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  left: 17px;
}

.task-desc {
  word-break: break-word;
}

#confirm-wrap,
#alert-wrap {
  display: inline-block;
  padding: 60px;
  width: 400px;
  border-radius: 30px;
  background: #52597a;
  vertical-align: middle;
}

@media (max-width: 460px) {
  #confirm-wrap,
  #alert-wrap {
    padding: 30px;
    width: 300px;
  }
}

#alert-wrap {
  padding-bottom: 20px;
}

@media (max-width: 460px) {
  #alert-wrap {
    padding: 50px 20px 10px;
  }
}

#confirm-message,
#alert-message {
  font-size: 25px;
  color: white;
  margin-bottom: 40px;
}

@media (max-width: 460px) {
  #confirm-message,
  #alert-message {
    font-size: 20px;
  }
}

#confirm-wrap-container,
#alert-wrap-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

#confirm-wrap-container:before,
#alert-wrap-container:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 46, 46, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.button-ok,
.button-cancel {
  border: none;
  max-width: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background-color: #646a7a;
}

.button-ok:hover,
.button-cancel:hover {
  cursor: pointer;
  background-color: #7683a5;
}

.button-ok:active,
.button-cancel:active {
  -webkit-box-shadow: 0px 0px 10px 0px #4c64a0 inset;
          box-shadow: 0px 0px 10px 0px #4c64a0 inset;
  background-color: #4c64a0;
}

.button-ok {
  margin-right: 10px;
}

.button-cancel {
  margin-left: 10px;
}

.custom-checkbox {
  max-width: 285px;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .custom-checkbox {
    margin-right: 40px;
  }
}

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

@media (max-width: 767px) {
  .custom-checkbox > span::before {
    margin-right: 1em;
  }
}

.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox > input:focus + span::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox > input:focus:not(:checked) + span::before {
  border-color: #7683a5;
}

.custom-checkbox > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox > input:disabled + span::before {
  background-color: #e9e9e9;
}
/*# sourceMappingURL=style.css.map */