@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}

$colorText: rgb(255, 255, 255);

@mixin Input {
  margin: 0 15px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  background-color: rgb(216, 223, 240);
  border: none;
  border-radius: 10px;
  transition: all 0.3s linear 0s;
  &:focus {
    color: #212529;
    background-color: rgb(233, 233, 233);
    border-color: rgb(189, 189, 189);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(155, 149, 149, 0.25);
  }
  &::placeholder {
    color: rgba(33, 37, 41, 0.5);
  }
}

body {
  background-color: rgb(110, 119, 122);
}

.container {
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  background-color: rgb(77, 75, 78);
  border-radius: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

$btnNormalAdd: rgb(94, 158, 94);
$btnHoverAdd: rgb(77, 168, 77);
$btnFocusAdd: rgb(78, 117, 78);
$btnActiveAdd: rgb(54, 153, 54);

$btnNormalDelete: rgb(236, 79, 79);
$btnHoverDelete: rgb(235, 21, 21);
$btnFocusDelete:rgb(173, 41, 41);
$btnActiveDelete: rgb(255, 67, 67);

$btnNormalShowHide: rgb(226, 177, 85);
$btnHoverShowHide: rgb(211, 167, 84);
$bntFocusShowHide:rgb(199, 162, 92);
$btnActiveShowHide: rgb(194, 163, 107);

$btnText: rgb(245, 245, 245);

@mixin Btn {
   font-size: 18px;
   line-height: 22px;
   color: $btnText;
   display: block;
   text-transform: capitalize;
   border-radius: 10px;
   text-align: center;
   padding: 12px;
   border: none;
   cursor: pointer;
   transition: all 0.3s linear;
   @media (max-width: 767px) {
     padding: 9px;
   }
 }

.btn {
  @include Btn();
}

.delete-all,
.delete-last {
  max-width: 125px;
  width: 100%;
  background-color: $btnNormalDelete;
  &:hover {
   background-color: $btnHoverDelete;
  }
  &:focus{
   background-color: $btnFocusDelete;
  }
  &:active {
   background-color: $btnActiveDelete;
  }
  @media (max-width: 767px) {
    max-width: 85px;
    width: 100%;
  }
}

.add {
  flex: 0 1 15%;
  background-color: $btnNormalAdd;
  &:hover {
    background-color: $btnHoverAdd;
  }
  &:focus {
   background-color: $btnFocusAdd;
  }
  &:active {
    background-color: $btnActiveAdd;
    box-shadow: 4px 4px 30px 0px $btnActiveAdd;
  }
}

.hide-completed,
.show-completed {
  max-width: 80px;
  width: 100%;
  background-color: $btnNormalShowHide;
  &:hover{
   background-color: $btnHoverShowHide;
  }
  &:focus {
   background-color: $bntFocusShowHide;
  }
  &:active{
   background-color: $btnActiveShowHide;
  }
}

.delete-all,
.delete-last,
.add,
.show-completed,
.all-count {
  margin: 0 15px;
  @media (max-width: 792px) {
    font-size: 16px;
    margin: 0 10px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .btn.delete-last {
    display: none;
  }
  .show-completed {
   margin: 0;
 }
}

.hide-completed {
  margin-right: 15px;
  @media (max-width: 767px) {
    margin: 0 10px;
    font-size: 14px;
  }
}

.add[disabled],
.delete-last[disabled],
.delete-all[disabled],
.hide-completed[disabled],
.show-completed[disabled],
.input-search-todo[disabled] {
  color: rgb(210, 213, 219);
  background: rgb(108, 117, 137);
  cursor: not-allowed;
}

.input-search-todo[disabled]::placeholder {
  color: $btnText;
}

.main-items {
  padding-top: 18px;
  margin: 60px 0 18px 0;
  @media (max-width: 767px) {
    margin: 20px 0 18px 0;
  }
}

.input-enter-todo,
.input-search-todo {
  width: 100%;
  @include Input();
  @media (max-width: 767px) {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .input-search-todo {
    margin: 0 10px;
  }
}

.addition-items {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.all-count,
.completed {
  display: flex;
  align-self: center;
  @media (max-width: 767px) {
    display: none;
  }
}

.all-count {
  max-width: 50px;
  width: 100%;
}

.completed {
  max-width: 120px;
  width: 100%;
  margin-right: 30px;
}

.text-count-name,
.text-all-count,
.text-completed-name,
.text-all-completed {
  color: $btnText;
  font-size: 18px;
}

.text-all-count,
.text-all-completed {
  margin-left: 10px;
}

@keyframes go-left {
  from {
    right: 0px;
  }
  to {
    right: calc(100% - 50px);
  }
}

.animation {
  animation: go-left 1s 1;
}

.todo-item {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 30px;
  background-color: rgb(87, 92, 105);
  color: $colorText;
  @media (max-width: 767px) {
    padding: 30px 30px 30px 15px;
  }
}

.item-complete {
  background-color: rgb(99, 177, 103);
}

.text-complete {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.list-todo {
  flex-direction: column;
}

.todo-date {
  font-size: 14px;
  padding-top: 20px;
  color: rgb(117, 129, 153);
  @media (max-width: 767px) {
    display: none;
  }
}

.todo-close {
  flex-direction: column;
  position: relative;
}

.btn-close {
  position: absolute;
  right: 0px;
  top: -23px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.btn-close.alert {
   top:-45px;
   left: 280px;
   @media (max-width: 460px) {
      top: -40px;
      left: 225px;
    }
}

.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(236, 121, 121);
}

.btn-close:before {
  transform: rotate(45deg);
}

.btn-close:after {
  transform: rotate(-45deg);
}

.task-desc {
  word-break: break-word;
}

#confirm-wrap,
#alert-wrap {
  display: inline-block;
  padding: 60px;
  width: 400px;
  border-radius: 30px;
  background: rgb(82, 89, 122);
  vertical-align: middle;
  @media (max-width: 460px) {
    padding: 30px;
    width: 300px;
  }
}

#alert-wrap {
   padding-bottom: 20px;
   @media (max-width: 460px) {
      padding:50px 20px 10px;
    }
}

#confirm-message,
#alert-message {
  font-size: 25px;
  color: $colorText;
  margin-bottom: 40px;
  @media (max-width: 460px) {
    font-size: 20px;
  }
}

#confirm-wrap-container,
#alert-wrap-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

#confirm-wrap-container:before,
#alert-wrap-container:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 46, 46, 0.6);
  backdrop-filter: blur(3px);
}

.button-ok,
.button-cancel {
  border: none;
  max-width: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  color: $colorText;
  background-color: rgb(100, 106, 122);
  &:hover {
    cursor: pointer;
    background-color: rgb(118, 131, 165);
  }
  &:active {
    box-shadow: 0px 0px 10px 0px rgb(76, 100, 160) inset;
    background-color: rgb(76, 100, 160);
  }
}

.button-ok {
  margin-right: 10px;
}

.button-cancel {
  margin-left: 10px;
}

.custom-checkbox {
  max-width: 285px;
  margin-right: 15px;
  @media (max-width: 767px) {
    margin-right: 40px;
  }
}

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(173, 181, 189);
  border-radius: 0.25em;
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  @media (max-width: 767px) {
    margin-right: 1em;
  }
}

.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: rgb(179, 215, 255);
}

.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: rgb(179, 215, 255);
  border-color: rgb(179, 215, 255);
}

.custom-checkbox > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox > input:focus:not(:checked) + span::before {
  border-color: rgb(128, 189, 255);
}

.custom-checkbox > input:checked + span::before {
  border-color: rgb(11, 118, 239);
  background-color: rgb(11, 118, 239);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox > input:disabled + span::before {
  background-color: rgb(233, 236, 239);
}
